.furnitureF-form {
  margin-bottom: 10rem;

  &__img {
    border: 1px dotted #F80607;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 4rem 0.5rem 5rem 0.5rem;
    }
  }

  &__txt {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 3rem;

    ul { 
      
      li {
        list-style-type: square;
        color: #F80607;

        span {
          color: #000;
        }
      }
    }
  }

  &__form {
    padding: 6rem 0 3rem 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: -2rem;
    width: 80%;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.7rem;
  }

  &__inputs {
    margin-bottom: 3rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: #F80607;
      top: -7rem;
      left: 50%;
      transform: translateX(-58%);
    }

    input {
      padding: 0.7rem 0.7rem;
      width: 18rem;

      &:first-child {
        margin-right: 3rem;
      }
    }
  }

  &__diz {
    color: #828282;
    margin-top: 1rem;
    margin-left: -2rem;
  }
}