.blog-content {
  font-family: 'Rubik-300';
  margin-bottom: 5rem;

  &__tips {
    margin-bottom: 5rem;
  }

  &__title {

    p {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0;
    }

    &--stock {
      padding: 0 0 0 3rem;

      p {
        font-size: 1.4rem !important;
      }
    }

    &--gird {
      padding: 0 0 0 3rem;
    }
  }

  &__public-item {
    margin-bottom: 2rem;
  }

  &__img {
    position: relative;

    &--public {
      img {
        height: 20rem;
      }
    }

    &--stock {
      img {
        width: 17rem !important;
        height: 10rem
      }
    }

    &--grid {
      img {
        width: 18rem !important;
        height: 100%;
        margin-right: 17rem; 
      }
    }

    img {
      width: 100%;
    }

    button {
      position: absolute;
      top: 1.2rem;
      left: 1.6rem;
    }
  }

  &__date {
    font-size: 1.2rem !important;
    font-weight: 300 !important;
    color: #828282;
  }

  &__stock-item {
    display: flex;
    padding: 0.5rem;
    border: 2px dotted #F80607;
    margin-bottom: 2rem;
  }

  &__stock-btn {
    width: 35%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0.5rem !important;
    left: 0.5rem !important;
    padding: 0;
  }
}

@media screen and (max-width: 998px) {
  .blog__search {
    justify-content: flex-start !important;
    
    input {
      width: 40% !important;
    }

    button {
      transform: translate(175%, -50%) !important;
    }
  }
}