h2 {
font-family:'Rubik-500';
font-style: normal;
font-weight: 500;
font-size: 1.8rem;
line-height: 2.6rem;
text-transform: uppercase;
margin-left: 1.6rem;
margin-top: 0;
}

h3 {
  font-family:'Rubik-400';
font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 2.6rem;
margin-top: 3.7rem;
margin-bottom: 1.7rem;
}

p {
  font-family:'Rubik-400';
font-style: normal;
font-weight: 300;
font-size: 1.4rem;
line-height: 2.6rem;
}